/*
admin.css
=========
CSS file used by the WordPress admin.
*/

/* meta boxes */
hr.trailer-sales-meta-box { border-top: 1px solid #eee; }

table.trailer-sales-meta-box tr th { padding: 5px 5px 5px 0; }
table.trailer-sales-meta-box tr td { padding: 6px 10px 5px 0; }
table.trailer-sales-meta-box tr td input { margin: -4px 0 0 0; }
table.trailer-sales-meta-box td p { margin-bottom: 15px; }
table.trailer-sales-meta-box th { width: 250px; }
table.trailer-sales-meta-box label.trailer-sales-label-select { display: inline-block; margin-top: 2px; }
table.trailer-sales-meta-box select { margin-top: -4px; }
table.trailer-sales-meta-box .campground-separator { border-top: 1px solid #eeeeee; border-bottom: none; }

table.trailer-sales-meta-box.trailer-sales-meta-box-list { width: auto; }
table.trailer-sales-meta-box .trailer-sales-meta-box-list-key { width: 240px; }
table.trailer-sales-meta-box.trailer-sales-meta-box-list tr td:nth-child(2) { width: 100%; padding-right: 0; }
