@charset "UTF-8";

@font-face {
  font-family: "trailer-sales";
  src:url("fonts/trailer-sales.eot");
  src:url("fonts/trailer-sales.eot?#iefix") format("embedded-opentype"),
    url("fonts/trailer-sales.woff") format("woff"),
    url("fonts/trailer-sales.ttf") format("truetype"),
    url("fonts/trailer-sales.svg#trailer-sales") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "trailer-sales" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="dashicons-wts-"]:before,
[class*=" dashicons-wts-"]:before {
  font-family: "trailer-sales" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dashicons-wts-trailer1:before {
  content: "\61";
}
.dashicons-wts-trailer2:before {
  content: "\62";
}
