/*
login.css
=========
CSS overrides for the WordPress login screen.
*/

.login h1 a {
    background-image: none, url("/wp-content/plugins/experience-camping-lib/admin/assets/logo-experience-camping.svg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 260px auto;
    display: block;
    font-size: 20px;
    height: 257px;
    line-height: 1.3em;
    margin: 0 auto 20px;
    outline: 0 none;
    padding: 0;
    text-indent: -9999px;
    width: 260px;
}
