/*
settings.css
============
CSS overrides for the Campground Settings page.
*/


.settings_page_trailer-sales-lib-settings h2 { margin: 30px 0 5px; border-top: 1px solid #ddd; padding-top: 20px; }
.settings_page_trailer-sales-lib-settings .form-table { margin-top: 10px; }
.settings_page_trailer-sales-lib-settings .form-table th { padding: 10px 10px 5px 0; }
.settings_page_trailer-sales-lib-settings .form-table td { padding: 5px 10px 0; }
.settings_page_trailer-sales-lib-settings .form-table+p.submit { margin-top: 30px; border-top: 1px solid #ddd; padding-top: 20px; }
