/*
trailers-meta-box.css
=====================
CSS file used by the \Admin\PostEdit\Trailers class of the "trailer" custom post type in the WordPress admin.
*/


.trailer-sales-photo { display: inline-block; margin: 0 5px 5px 0; padding: 3px; border: 5px solid #f1f1f1; }
.trailer-sales-photo img { width: 200px; }
.trailer-sales-feature-photo { border: 5px solid #0073aa; }
.trailer-sales-photo div { padding-bottom: 3px; }
.trailer-sales-photo .trailer-sales-photo-name { color: darkgrey; padding-right: 3px; float: left; }
.trailer-sales-photo-upload button.photo-upload { margin-bottom: 15px; }
.trailer-sales-photo-upload div.file-upload { display: none; }
