/*
trailers.css
============
CSS file used by the \Admin\PostList\Trailers class of the "trailer" custom post type in the WordPress admin.
*/

.tablenav .actions select#trailer_location { max-width: inherit; }

table.wp-list-table td.column-location span, table.wp-list-table td.column-price span { color: #a9a9a9; }
table.wp-list-table td.column-price span.strikethru { text-decoration: line-through; color: #555; }
table.wp-list-table .column-sold { width: 10%; }